<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/styles")

</head>
<body class="@ViewBag.BodyClass">
    <div class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../" class="navbar-brand">
                        <span class="black">Mew</span><span class="red">Pipe</span>
                    </a>
                </li>
            </ul>
            <div class="navbar-right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @Html.Partial("_FlashMessage")
    <div class="container body-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/scripts")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function() {
            FlashMessages.attach($("#flash-messages"));
        });
    </script>
</body>
</html>
