@model MewPipe.Accounts.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.BodyClass = "accounting";
}

<div class="row">
    <div class="centerForm singleCol col-md-6 col-md-offset-3">
        <div class="formHeader">
            <h3 class="text-center">Change your password</h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col account">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-body">
                            <p>
                                @Html.LabelFor(m => m.OldPassword, new { @class = "" })
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </p>
                            <p>
                                @Html.LabelFor(m => m.NewPassword, new {@class = ""})
                                @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </p>
                            <p>
                                @Html.LabelFor(m => m.ConfirmPassword, new {@class = ""})
                                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </p>
                        </div>
                        <button class="btn btn-primary raised btn-block" type="submit">Change my password</button>

                        <p class="text-center">
                            @Html.ActionLink("Go back to the account settings", "Index")
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>