@using MewPipe.Logic.Contracts
@using MewPipe.Logic.Models
@{
    ViewBag.Title = "Home Page";
}
<div id="home">
    <h2 class="cursive">- <span class="colored">W</span>orld <span class="colored">T</span>rends -</h2>
    <div class="row">
        @foreach (VideoContract video in ViewBag.Videos)
        {

            var name = String.IsNullOrWhiteSpace(video.Name) ? "Unnamed video" : video.Name;
            var duration = TimeSpan.FromSeconds(video.Seconds);
            <div class="col-sm-3">
                <div class="videoThumb">
                    <a href="/v/@video.PublicId">
                        <span class="picture">
                            <img src="http://videos-repository.mewpipe.local:44403/api/thumbnailsData/@video.PublicId" alt="@name"/>
                            <span class="hover"></span>
                            <span class="duration">
                                @duration.ToString(@"mm\:ss")
                            </span>
                        </span>
                        <span class="description">
                            <span class="title">@name</span>
                            <span class="author">
                                By @video.User.Username
                            </span>
                            <span class="views">
                                <strong>
                                    @string.Format("{0:n0}", video.Views)
                                </strong>
                                @if (video.Views == 1)
                                {
                                    <text>view</text>
                                }
                                else
                                {

                                    <text>views</text>
                                }
                                | @video.DateTimeUtc.ToLocalTime().ToShortDateString()
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        }
    </div>
    <!--<div class="row">
        <h2 class="text-center cursive">This might interest you</h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="videoThumb">
                <a href="#">
                    <img src="http://placehold.it/300x200" alt="...">
                </a>
                <div class="caption">
                    <h3>
                        <a href="#">My awesome video</a>
                    </h3>
                    <p>By <a href="#">MewPipe</a>
                    </p>
                    <p>2104 views | One month ago</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="videoThumb">
                <a href="#">
                    <img src="http://placehold.it/300x200" alt="...">
                </a>
                <div class="caption">
                    <h3>
                        <a href="#">My awesome video</a>
                    </h3>
                    <p>By <a href="#">MewPipe</a>
                    </p>
                    <p>2104 views | One month ago</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="videoThumb">
                <a href="#">
                    <img src="http://placehold.it/300x200" alt="...">
                </a>
                <div class="caption">
                    <h3>
                        <a href="#">My awesome video</a>
                    </h3>
                    <p>By <a href="#">MewPipe</a>
                    </p>
                    <p>2104 views | One month ago</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="videoThumb">
                <a href="#">
                    <img src="http://placehold.it/300x200" alt="...">
                </a>
                <div class="caption">
                    <h3>
                        <a href="#">My awesome video</a>
                    </h3>
                    <p>By <a href="#">MewPipe</a>
                    </p>
                    <p>2104 views | One month ago</p>
                </div>
            </div>
        </div>
    </div>-->
</div>