@model MewPipe.Accounts.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>
                @foreach (var p in loginProviders)
                {
                    if (p.AuthenticationType != "OpenID")
                    {
                        <button type="submit" class="btn-block btn-social btn-@p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                            <i class="fa fa-@p.AuthenticationType.ToLower()"></i> Sign in with @p.AuthenticationType
                        </button>
                    }
                }
            </p>
        </div>
    }
}
