@model MewPipe.Accounts.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.BodyClass = "accounting";
}


<div class="row">
    <div class="centerForm singleCol col-md-6 col-md-offset-3">
        <div class="formHeader">
            <h3 class="text-center">Forgot your password ?</h3>
            <p>
                Please type the email address of your account, we will send you a mail with some instructions to reset your password.
            </p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col account">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-body">
                            @Html.LabelFor(m => m.Email, new { @class = "" })
                            @Html.PasswordFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-primary raised btn-block " type="submit">Send me a mail</button>

                        <p class="text-center">
                            @Html.ActionLink("Go back to the login page", "Login")
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>